@media screen and (max-width:480px) {
    header {
        .LogIn {
            margin-bottom: 1rem;
        }
    }

    main.idx {
        #s01 {
            .carousel-fade {
                .imgS01 {
                    height: 30vh;
                }
            }
        }

        #s02 {
            .card-body {
                p {
                    display: none;
                }
            }
        }

        #s03 {
            #imgprod {
                width: 90%;
                height: 15vh;
            }
            .s03_text {
                display: none;
            }
        }

        #s04 {
            .container {
                .waterfall {
                    column-count: 3;
                }
            }
        }
    }

    main.abt {
        #s01 {
            .mySwiper2 {
                .swiper-slide {
                    img {
                        height: 30vh;
                    }
                }
            }

            .mySwiper {
                .swiper-slide {
                    img {
                        height: 7vh;
                    }

                    h1 {
                        font-weight: 700;
                        font-size: 1.3rem;
                    }
                }
            }

            .swiper-button-next::after, .swiper-button-prev::after {
                padding: 50px;
            }
        }
    }

    .goTop {
        i {
            font-size: 30px;
        }
    }
    
    footer {
        .footerLogo {
            height: 70px;
            img {
                width: 100%;
            }
        }

        .footerText {
            height: 60px;
        }

        .fix_ri {
            width: 30px;
            right: 24px;
            bottom: 80px;
        }
    }
}