html,body{
    height: 100%;
    position: relative;
}

.bg-cover{
    background-position: center center;
    background-size: cover;
}

header{
    // font-family: "Yuji Boku", serif;
    // font-weight: 900;
    // font-style: normal;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;

    .LogIn{
        button{
            a{
                display: block;
                width: 70px;
                height: 38px;
                text-decoration: none;
                color: inherit;
                line-height: 38px;
            }
        }
    }
}

main.idx{
    a, p, .h2, h5{
        // font-family: "Noto Sans TC", sans-serif;
        // font-optical-sizing: auto;
        // font-style: normal;
        // font-weight: 900;
        // font-family: "Yuji Boku", serif;
        // font-weight: 900;
        // font-style: normal;
        font-family: "LXGW WenKai TC", serif;
        font-weight: 900;
        font-style: normal;
    }
    #s01 {
        .carousel-fade {
            z-index: 0;
            .imgS01 {
                height: 90vh;
            }
        }
    }
    #s02{
        h5{
            // font-family: "Protest Revolution", sans-serif;
            // font-style: normal;
            font-size: 24px;
        }

    }

    #s03{

        #imgprod{
            width: 100%;
            height: 40vh;
            filter:drop-shadow(10px 7px 10px black);// 圖片邊緣陰影
        }
    }

    #s04{
        padding: 20px;
        .container{
            .waterfall {
                width: 100%;
                margin: 0px auto;
                column-count: 5;
                /*欄數*/
                column-gap: 10px;
                /*每欄間隔*/
    
                .item {
                    background-color: white;
                    // text-align: center;
                    padding: 3px;
                    box-sizing: border-box;
                    margin: 0 auto 10px;
                    break-inside: avoid;
                    /*定義頁面、列或是區域發生中斷時的元素表現方式。 auto->元素中斷、acoid->元素不中斷*/
                }
    
                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
    }
}

main.abt{
    #s01{

        h1{
            position: absolute;
            font-family: "Noto Sans TC", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            // font-family: "Yuji Boku", serif;
            // font-weight: 900;
            // font-style: normal;    
            font-weight: 900;
            color: white;
        }

        .swiper{
            width: 100%;
            height: 100vh;
        }

        .swiper-slide{
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper{
            width: 100%;
            height: 300px;
            margin: 0 auto;
        }

        .mySwiper2{
            height: 80%;
            width: 100%;
        }

        .mySwiper{
            height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
        }

        .mySwiper .swiper-slide{
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }

        .mySwiper .swiper-slide-thumb-active{
            opacity: 1;
        }

        .mySwiper2 .swiper-slide img{
            display: block;
            width: 100%;
            height: 70vh;
            object-position: 50% 50%;
            object-fit: cover;
        }

        .mySwiper .swiper-slide img{
            display: block;
            width: 100%;
            height: 20vh;
            object-position: 50% 50%;
            object-fit: cover;
        }

        .swiper-button-next::after, .swiper-button-prev::after{
            // position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500%;
            height: 70vh;
            padding: 200px;
            color: #fff;
            text-align: center;
            background: 0 0;
            border: 0;
            opacity: .5;
            transition: opacity .15s ease;
            // background-color: #000;
        }
    }

    #s02{
        .backImg{
            background-attachment: fixed;
            background-size: cover;
            background-position: -700px -100px;
            background-image: url(../images/新北/E1/Copy\ of\ DSC_1631.jpg);
            height: 600px;
        }
    }

    #s03{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        .coach{
            width: 300px;
            height: 50vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 36px;
            perspective: 2500px;
            margin: 50px;
            border-radius: 5px;
        }

        .cover-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .wrapper{
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            z-index: -1;
            border-radius: 5px;
        }

        .coach:hover .wrapper{
            transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
            box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            border-radius: 5px;
        }

        .wrapper::before, .wrapper::after{
            content: "";
            opacity: 0;
            width: 100%;
            height: 80px;
            transition: all 0.5s;
            position: absolute;
            left: 0;
            border-radius: 5px;
        }

        .wrapper::before{
            top: 0;
            height: 100%;
            background-image: linear-gradient(
                to top,
                transparent 46%,
                rgba(12, 13, 19, 0.5) 68%,
                rgba(12, 13, 19) 97%
            );
            border-radius: 5px;
        }

        .coach:hover .wrapper::before, .wrapper::after{
            opacity: 1;
        }

        .coach:hover .wrapper::after{
            height: 120px;
        }

        .title{
            width: 100%;
            transition: transform 0.5s;
            color: white;
            font-size: 3rem;
            font-weight: 900;
            text-shadow: #fd4511 1px 0px 10px;
        }

        .coach:hover .title{
            transform: translate3d(0%, -50px, 100px);
        }

        .character{
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
            position: absolute;
            z-index: -1;
        }

        .coach:hover .character{
            opacity: 1;
            transform: translate3d(0%, -30%, 100px);
        }
    }
}

main.pht {
    .container{
        .card{
            --bs-card-border-radius: 0.375rem 0.375rem 1rem 1rem;
        }
        .phtCard {
            border: none;
            .phtCdbdy {
                border-radius: 0 0 0.375rem 0.375rem;
            }
        }
        a, h5{
            color: white;
            font-family: "LXGW WenKai TC", serif;
            font-weight: 900;
            font-style: normal;
        }
        img.vh-25 {
            height: 25vh !important;
        }
    }
}

main.addp{
    height: 85vh;
    .upFile{
        width: 100px;
        height: 100px;
        position: relative;
        background-color: #EDEDED;

        .rBackImg, .upFileLogo, .upFileLogo input{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .rBackImg{
            z-index: 1;
        }
        .upFileLogo{
            z-index: 2;
            line-height: 100px;
            text-align: center;
            font-size: 50px;
        }
        .upFileLogo input{
            opacity: 0;
        }
    }
}

main.logIn{
    flex-grow: 1;
    height: 85vh;

    .col-6{
        font-family: "Protest Revolution", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 24px;
        display: flex;
        justify-content: center;
        // align-items: center;
        // position: relative;
        .logIn01{
            position: absolute;
            top: 50%;
            // transform: translateY(-50%);
            a{
                color: var(--ULcolorOr);
            }
        }
        .login {
            width: 300px;
            height: 350px;
            padding: 20px;
            background-color: rgba(#000, 0.6);
            border-radius: 20px;
            // border: 5px solid #fff;
            box-shadow: 0 0 30px #000;
            backdrop-filter: blur(5px);
            position: absolute;
            // transform: translate(50%, 50%);
            // margin-top: 25%;
            top: 0;
            transform: translateY(50%);


            .logB{
                a{
                    text-decoration: none;
                    color: var(--ULcolorOr);
                }
            }
        }               
    }       
}

.goTop{
    position: fixed;
    right: 24px;
    bottom: 45px;
    z-index: 600;
    transform: translateX(0%);
    transition: transform 1.7s;

    .goTopBtn{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        .fa-circle-chevron-up{
            color: grey;

            ::before{
                content: "\f35b";
            }
        }
    }
}

.goTop.hide{
    transform: translateX(200%);
}

footer{
    position: sticky;
    top: 100vh;

    p {
        font-family: "LXGW WenKai TC", serif;
        font-weight: 900;
        font-style: normal;
    }

    .footerLogo {
        position: relative;
        height: 100px;
        img {
            width: 50%;
        }
    }
    
    .footerText {
        position: relative;
        height: 70px;

        p {
            text-wrap: nowrap;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    .fix_ri{
        width: 50px;
        box-sizing: border-box;
        position: fixed;
        bottom: 95px;
        right: 23px;
        // z-index: 999;
        text-align: center;

        
        a{
            display: inline-block;
            margin-bottom: 10px;
            color: #444;
            text-decoration: none;
            background-color: transparent;
            
            &.fb{
                transform: translateX(0%);
                transition: transform 0.2s;
                &.hide{
                    transform: translateX(200%);
                }
            }
            &.ig{
                transform: translateX(0%);
                transition: transform 0.7s;
                &.hide{
                    transform: translateX(200%);
                }
            }
            &.line{
                transform: translateX(0%);
                transition: transform 1.2s;
                &.hide{
                    transform: translateX(200%);
                }
            }

            img{
                opacity: 1;
                width: 100%;
            }
        }

    }
}

@media screen and (max-width: 992xp){
    header div.LogIn{
        color: navajowhite;
        margin: 0 16px;
    }
}